<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl as nav">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/" title="RoboCodeWizard">
				<img src="images/logo.png" alt="EasyJ Logo" height="40px" style="margin-top: -10px;">
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
			<ul class="nav navbar-nav">
				<li ng-class="{ active: nav.isActive('/')}"><a ng-href="#/">Home</a></li>
				<li ng-class="{ active: nav.isActive('/about')}"><a ng-href="#/about">About</a></li>
				<li><a ng-href="http://www.techwizworld.net/contact.html">Contact</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li></li>
			</ul>
		</div>
	</div>
</nav>
