<div class="row" ng-controller="Wiz1Ctrl as step">
	<form name="drivetrain" novalidate class="col-lg-6">
    <h1>Drivetrain</h1>
		<ol>

			<li>
				Does your robot have a drivetrain?
				<div class="radio">
					<label>
						<input type="radio" ng-model="Robot.data.hasDrivetrain" value="yes">
						Yes, it has wheels!
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="Robot.data.hasDrivetrain" value="no" required>
						No, its stationary.
					</label>
				</div>
			</li>

			<li ng-show="Robot.data.hasDrivetrain == 'no'">
				<!-- No -->
				<a class="btn btn-primary" href="#/wizard/{{step.num+1}}" ng-click="wiz.stepComplete(step.num)">Next &raquo;</a>
			</li>

			<li ng-show="Robot.data.hasDrivetrain == 'yes'">
				What type of motor controllers will be used?
				<div class="form-group" >
					<select
            ng-model="Robot.data.drivetrain.mcType"
            class="form-control form-control-inline"
            ng-change="Robot.mcTypeChange()" required>
					  <option value="">Choose a type</option>
            <option
              value="{{mc.name}}"
              ng-repeat="mc in Robot.controller.choices"
              ng-selected="{{mc.name == Robot.data.drivetrain.mcType}}">
              {{mc.prettyName}}
            </option>
					</select>

				</div>
			</li>

			<li ng-show="Robot.data.drivetrain.mcType && Robot.data.hasDrivetrain == 'yes'">
				<!-- Yes -->
				How many motors does it use?
				<div class="radio">
					<label>
						<input type="radio" ng-model="Robot.data.drivetrain.numMotors" value="2" required ng-change="Robot.numMotorsChange()">
						2 motors
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="Robot.data.drivetrain.numMotors" value="4" required ng-change="Robot.numMotorsChange()">
						4 motors (also for 6 or 8 wheel drive)
					</label>
				</div>
			</li>

			<li ng-show="Robot.data.drivetrain.numMotors && Robot.data.hasDrivetrain == 'yes'">
				What type of driving will you be doing?
				<div class="radio">
					<label>
						<input type="radio" ng-model="Robot.data.drivetrain.type" value="arcade" required>
						arcade drive (most people use this)
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="Robot.data.drivetrain.type" value="tank">
						tank drive
					</label>
				</div>
				<div class="radio" ng-show="Robot.data.numMotors == 4 || Robot.data.numMotors == 8"> <!-- this might be a dumb assumption -->
					<label>
						<input type="radio" ng-model="Robot.data.drivetrain.type" value="mecanum">
						mecanum drive
					</label>
				</div>
			</li>

			<li ng-show="Robot.data.drivetrain.type && Robot.data.hasDrivetrain == 'yes'">
				What ports are your motors connected to?
				<table class="table">
					<thead>
						<th>Motor Name</th>
						<th> <abbr title="Pulse Width Modulation - Used for motor control">PWM</abbr> Port</th>
						<th>Type</th>
					</thead>
					<tbody>
						<tr ng-repeat="controller in Robot.data.drivetrain.controllers">
							<td>
								<input ng-model="controller.name" required class="form-control form-control-inline" type="text">
							</td>
							<td>
								<select ng-model="controller.port" required class="form-control form-control-inline">
  								<option value="">Choose a port</option>
  								<option
  									ng-repeat="port in Robot.getNumPWM()"
                    value="{{port}}"
  									ng-disabled="Robot.isPWMUsed(port)"
                    ng-selected="{{port == controller.port}}">
  								{{port}} {{Robot.isPWMUsed(port)? 'used' : ''}}</option>
								</select>
							</td>
							<td>
								{{Robot.controller.toPretty(controller.type)}}
							</td>
						</tr>
					</tbody>
				</table>
			</li>

			<li ng-show="drivetrain.$valid && Robot.data.hasDrivetrain == 'yes'">
				<!-- Done -->
				<a class="btn btn-primary" href="#/wizard/{{step.num+1}}" ng-click="wiz.stepComplete(step.num)">Next &raquo;</a>
			</li>

		</ol>
	</form>
	<div ng-include="'app/wiz/steps/debug.html'"></div>
</div>
