<div class="row" ng-controller="Wiz3Ctrl as wiz">
	<form name="inputs" novalidate class="col-lg-6">
    <h1>Inputs</h1>
		<ol>
			<li>
				<button ng-click="wiz.step3.addHID()" class="btn btn-success pull-right">Add</button>
				User Input configuration (Operator Interface)
				<table class="table">
					<thead>
						<th>Name</th>
						<th>USB Port</th>
						<th>Type</th>
						<th>Action</th>
					</thead>
					<tbody>
						<tr ng-repeat="(idx, item) in wiz.robot.hids">
							<td>
								<input ng-model="item.name" required type="text" class="form-control form-control-inline">
							</td>
							<td>
								<select ng-model="item.port" required class="form-control form-control-inline" >
									<option value="">Choose a port</option>
									<option
										value="{{idx}}"
										ng-repeat="(idx, name) in wiz.step3.getNumUSBPorts()"
										ng-disabled="wiz.step3.isUSBPortUsed(idx)">
									{{idx}} {{wiz.step3.isUSBPortUsed(idx)? 'used' : ''}}</option>
								</select>
							</td>
							<td>
								<select ng-model="item.type" required class="form-control form-control-inline">
									<option value="">Choose a type</option>
									<option value="joystick">Joystick</option>
									<option value="xbox">XBox</option>
									<option value="ps">Play Station</option>
								</select>
							</td>
							<td>
								<button ng-hide="$first && wiz.robot.hids.length < 2" ng-click="wiz.step3.removeHID(item)" class="btn btn-danger" >Remove</button>

							</td>
						</tr>
					</tbody>
				</table>
			</li>
			<li>
				<button ng-click="wiz.step3.addDigitalSensor()" class="btn btn-success pull-right">Add</button>
				Digital Input configuration <!-- @todo Digital Output -->
				<table class="table">
					<thead>
						<th>Name</th>
						<th><abbr title="General Purpose Digital Input and Output">GPDIO</abbr> Port</th>
						<th>Type</th>
						<th>Action</th>
					</thead>
					<tbody>
						<tr ng-repeat="(idx, item) in wiz.robot.sensors.digital">
							<td>
								<input ng-model="item.name" required type="text" class="form-control form-control-inline">
							</td>
							<td>
								<select ng-model="item.port" required class="form-control form-control-inline" >
									<option value="">Choose a port</option>
									<option
										value="{{idx}}"
										ng-repeat="(idx, name) in wiz.step3.getNumDigitalPorts()"
										ng-disabled="wiz.step3.isDigitalPortUsed(idx)">
									{{idx}} {{wiz.step3.isDigitalPortUsed(idx)? 'used' : ''}}</option>
								</select>
							</td>
							<td>
								<select ng-model="item.type" required class="form-control form-control-inline">
									<option value="">Choose a type</option>
									<option value="switch">Switch (limit switch, push button etc)</option>
									<option value="encoder">Encoder</option>
									<!-- <option value="ultra">utltrasonic</option> // can't do it because it uses two ports-->
								</select>
							</td>
							<td>
								<button ng-click="wiz.step3.removeDigitalSensor(item)" class="btn btn-danger" >Remove</button>

							</td>
						</tr>
					</tbody>
				</table>
			</li>
			<li>
				<button ng-click="wiz.step3.addAnalogSensor()" class="btn btn-success pull-right">Add</button>
				Analog Sensor configuration
				<table class="table">
					<thead>
						<th>Name</th>
						<th>Analog Port</th>
						<th>Type</th>
						<th>Action</th>
					</thead>
					<tbody>
						<tr ng-repeat="(idx, item) in wiz.robot.sensors.analog">
							<td>
								<input ng-model="item.name" required type="text" class="form-control form-control-inline">
							</td>
							<td>
								<select ng-model="item.port" required class="form-control form-control-inline" >
									<option value="">Choose a port</option>
									<option
										value="{{idx}}"
										ng-repeat="(idx, name) in wiz.step3.getNumAnalogPorts()"
										ng-disabled="wiz.step3.isAnalogPortUsed(idx)">
									{{idx}} {{wiz.step3.isAnalogPortUsed(idx)? 'used' : ''}}</option>
								</select>
							</td>
							<td>
								<select ng-model="item.type" required class="form-control form-control-inline">
									<option value="">Choose a type</option>
									<option value="gyro">Gyroscope</option>
									<option value="accel">Accelerometer (external)</option>
									<option value="pot">Potentiometer</option>
								</select>
							</td>
							<td>
								<button ng-click="wiz.step3.removeAnalogSensor(item)" class="btn btn-danger" >Remove</button>

							</td>
						</tr>
					</tbody>
				</table>
			</li>
			<li ng-show="inputs.$valid">
				<!-- Done -->
				<a class="btn btn-primary" href ng-click="wiz.goto(4)">Next &raquo;</a>
			</li>
		</ol>
	</form>
	<div ng-include="'app/wiz/steps/debug.html'"></div>
</div>
