<div class="row" ng-controller="Wiz1Ctrl as step">
	<form name="drivetrain" novalidate class="col-lg-6">
		<h1>Drivetrain</h1>
		<ol>
			<!-- 1 -->
			<li>
				Does your robot have a drivetrain?
				<div class="radio">
					<label>
						<input type="radio" value="yes"
							ng-model="Robot.data.hasDrivetrain"
							ng-change="Robot.drivetrainChange()">
						Yes, it has wheels!
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio"  value="no" required
							ng-model="Robot.data.hasDrivetrain"
							ng-change="Robot.drivetrainChange()">
						No, its stationary.
					</label>
				</div>
			</li>

			<!-- 2 -->
			<li ng-show="Robot.data.hasDrivetrain == 'yes'">
				What type of motor controllers will be used?
				<div bb-help title="More Motor Controller">
					<p>Drivetrains with one CIM Motor per side will not work with Jaguar Motor Controllers as the Jaguar Controller can't handle the current spikes.</p>
					<p>Victors Have the highest peak current output which roughly equates to maximum acceleration.</p>
				</div>
				<div class="form-group" >
					<select
						ng-model="Robot.data.drivetrain.mcType"
						class="form-control form-control-inline"
						ng-change="Robot.mcTypeChange()" required>
						<option value="" disabled>Choose a type</option>
						<option
							value="{{mc.name}}"
							ng-repeat="mc in Robot.controller.choices"
							ng-selected="{{mc.name == Robot.data.drivetrain.mcType}}">
							{{mc.prettyName}}
						</option>
					</select>

				</div>
			</li>

			<!-- 3 -->
			<li ng-show="Robot.data.drivetrain.mcType && Robot.data.hasDrivetrain == 'yes'">
				<!-- Yes -->
				How many motors does it use?
				<div class="radio">
					<label>
						<input type="radio" value="2" required
							ng-change="Robot.numMotorsChange()"
							ng-model="Robot.data.drivetrain.numMotors">
						2 motors
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" value="4" required
							ng-change="Robot.numMotorsChange()"
							ng-model="Robot.data.drivetrain.numMotors">
						4 motors (also for 6 or 8 wheel drive)
						<div bb-help title="More Motor Controller">
							<p>The code can be configured for a max of two pairs of outputs.</p>
							<p>PWM Signals can be easily split using a <a href="http://www.andymark.com/product-p/am-2261.htm" target="_blank">Servo Y-Cable</a>.</p>
						</div>
					</label>
				</div>
			</li>

			<!-- 4 -->
			<li ng-show="Robot.data.drivetrain.mcType && Robot.data.drivetrain.numMotors && Robot.data.hasDrivetrain == 'yes'">
				What type of driving will you be doing?
				<div class="radio">
					<label>
						<input type="radio" ng-model="Robot.data.drivetrain.type" value="arcade" required>
						arcade drive (most people use this)
						<div bb-help title="Arcade Drive">
							<p>Much like a classic arcade game, arcade drive uses a single joystick. The Y-axis of the joystick is move value, forward/backward speed. The X-axis is the turn amount.</p>
							<p>When in doubt, use arcade drive.</p>
						</div>
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="Robot.data.drivetrain.type" value="tank">
						tank drive
						<div bb-help title="Tank Drive">
							<p>Tank drive uses a two joysticks. The Y-axis of the joystick1 controls the left side of the drivetrain and joystick2 controls the right side of the drivetrain.</p>
							<p>When in doubt, use arcade drive.</p>
						</div>
					</label>
				</div>
				<div class="radio hidden"
					ng-show="Robot.data.drivetrain.numMotors == 4 || Robot.data.drivetrain.numMotors == 8">
					<!-- 8 might be a dumb assumption -->
					<label>
						<input type="radio" ng-model="Robot.data.drivetrain.type" value="mecanum">
						mecanum drive
					</label>
				</div>
			</li>

			<!-- 5 -->
			<li ng-show="Robot.data.drivetrain.mcType && Robot.data.drivetrain.type && Robot.data.hasDrivetrain == 'yes'">
				What ports are your motors connected to?
				<table class="table">
					<thead>
						<th>Motor Name</th>
						<th> <abbr title="Pulse Width Modulation - Used for motor control">PWM</abbr> Port</th>
						<th>Type</th>
					</thead>
					<tbody>
						<tr ng-repeat="controller in Robot.data.drivetrain.controllers">
							<td>
								<input ng-model="controller.name" required
									class="form-control form-control-inline" type="text">
							</td>
							<td>
								<select ng-model="controller.port" required
									class="form-control form-control-inline">
									<option value="" disabled>Choose a port</option>
									<option
										ng-repeat="port in Robot.getNumPWM()"
										value="{{port}}"
										ng-disabled="Robot.isPWMUsed(port)"
										ng-selected="{{port == controller.port}}">
									{{port}} {{Robot.isPWMUsed(port)? 'used' : ''}}</option>
								</select>
							</td>
							<td>
								{{Robot.controller.toPretty(controller.type)}}
							</td>
						</tr>
					</tbody>
				</table>
			</li>

			<li>
				<!-- Done -->
				<button
					class="btn btn-primary"
					ng-click="wiz.stepComplete(step.num)"
					ng-disabled="!step.complete(drivetrain.$valid)"
					>Next &raquo;</button>
			</li>

		</ol>
	</form>
	<div ng-include="'app/wiz/mc.html'"></div>
	<div ng-include="'app/wiz/steps/debug.html'"></div>

</div>
