<div class="row" ng-controller="Wiz6Ctrl as step">
	<form name="inputs" novalidate class="col-lg-6" onchange="invalidateFutureSteps(this)">
		<h1>Analog Inputs</h1>
		<p>Analog inputs are most often used by sensors: potentiometers and gyroscopes.</p>
		<ol>
			<li>
				Does your robot use Analog Inputs?
				<div class="radio">
					<label>
						<input type="radio" value="yes"
							ng-model="Robot.data.hasAIN">
						Yes!
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" value="no" required
							ng-model="Robot.data.hasAIN">
						No.
					</label>
				</div>
			</li>
			<li ng-if="Robot.data.hasAIN == 'yes'">
				<button ng-click="Robot.addAnalogSensor()" class="btn btn-success pull-right">Add Analog Input</button>
				Analog Sensor configuration
				<table class="table">
					<thead>
						<th>Name</th>
						<th>Analog Port</th>
						<th>Type</th>
						<th>Action</th>
					</thead>
					<tbody>
						<tr ng-repeat="item in Robot.data.sensors.analog">
							<td>
								<input ng-model="item.name" required type="text" class="form-control form-control-inline">
							</td>
							<td>
								<select ng-model="item.port" required class="form-control form-control-inline" >
									<option value="" disabled>Choose a port</option>
									<option
										value="{{port}}"
										ng-repeat="port in Robot.getNumAnalogPorts()"
										ng-disabled="Robot.isAnalogPortUsed(port)"
										ng-selected="{{port === item.port}}">
									{{port}} {{Robot.isAnalogPortUsed(port)? 'used' : ''}}</option>
								</select>
							</td>
							<td>
								<select ng-model="item.type" required class="form-control form-control-inline">
									<option value="" disabled>Choose a type</option>
									<option value="gyro">Gyroscope</option>
									<!-- <option value="accel">Accelerometer (external)</option> -->
									<option value="pot">Potentiometer (standard analog input)</option>
								</select>
							</td>
							<td>
								<button ng-hide="$first && Robot.data.sensors.analog.length < 2" ng-click="Robot.removeAnalogSensor(item)" class="btn btn-danger" >Remove</button>

							</td>
						</tr>
					</tbody>
				</table>
				<button ng-click="Robot.addAnalogSensor()" class="btn btn-success pull-right">Add Analog Input</button>
			</li>
			<li>
				<!-- Done -->
				<a
					class="btn btn-info"
					href="#/wizard/{{step.num-1}}">
					&laquo; Back</a>
				<button
					class="btn btn-primary"
					ng-click="wiz.stepComplete(step.num)"
					ng-disabled="!step.complete(inputs.$valid)">
					Next &raquo;</button>
			</li>
			</li>
		</ol>
	</form>
	<div ng-include="'app/wiz/steps/debug.html'"></div>
</div>
