<div class="row" ng-controller="Wiz10Ctrl as step">
	<form name="commands" novalidate class="col-lg-6">
    <h1>Commands</h1>
		<ol>
			<li>
				<p>To begin thinking about what the commands are needed keep these in mind:</p>
				<ul>
					<li>A command is a single action performed by the robot.</li>
					<li>Commands usually require at least one subsystem which they act with.</li>
					<li>After being started, a command runs for a period of time until either it is finished performing its task or it is interrupted.</li>
					<li>Interruptions can occur either when a command is canceled or when another command that requires the same subsystem is run.</li>
				</ul>
				<p></p>
				<p><strong>What does it mean for a command to require a subsystem?</strong></p>
				<p>When a command requires a subsystem, it claims exclusive control over that subsystem and will interrupt any other command that requires the same subsystem. This only works if all your commands properly require the subsystems that they use. </p>
				<button ng-click="Robot.addCommand()" class="btn btn-success pull-right">Add</button>
				<table class="table">
					<thead>
						<th>Name</th>
						<!-- <th>Type</th> -->
						<th>Requires</th>
						<th>Action</th>
					</thead>
					<tbody>
						<tr ng-repeat="(idx, item) in Robot.data.commands">
							<td>
								<input ng-model="item.name" required type="text" class="form-control form-control-inline">
							</td>

						<!-- 	<td>
								<select ng-model="item.type" class="form-control">
									<option value="">Choose an option</option>
									<option value="cmd">Command</option>
									<option value="cmdgrp">Command Group</option>
								</select>
							</td> -->

							<td>
								<select ng-model="item.requires" ng-if="item.type == 'cmd'" class="form-control">
									<option value="">None</option>
									<option value="{{subsystem.name}}" ng-repeat="subsystem in Robot.getSubsystems()">{{subsystem.name}}</option>
								</select>
								<!-- <button ng-click="Robot.addRequires(item)" class="btn btn-xs">Add</button> -->
							</td>

							<td>
								<button ng-hide="$first && Robot.data.commands.length < 2" ng-click="Robot.removeCommand(item)" class="btn btn-danger" >Remove</button>
								<!-- <p ng-show="$first && Robot.data.commands.length < 2">You must have at least one subsystem.</p> -->
							</td>
						</tr>
					</tbody>
				</table>
				<button ng-click="Robot.addCommand()" class="btn btn-success pull-right">Add</button>
			</li>
			<li ng-show="commands.$valid">
				<!-- Done -->
				<a class="btn btn-primary" href="#/wizard/{{step.num+1}}" ng-click="wiz.stepComplete(step.num)">Next &raquo;</a>
			</li>
		</ol>
	</form>
	<div ng-include="'app/wiz/steps/debug.html'"></div>
</div>
